 .Logo{
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #5A4542;
    text-align:start;
    margin-top: 30px;
    margin-left: 30px;
  }

  .container-fluid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right:.35rem;
  }

  .navButton{
    padding:0;
    justify-content: center;
    text-align: center;
    margin-right: 2rem;
  }

  .btn-Container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .btn-Container i{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.5px;
    color: #382212;  
    margin-top: 4px;
  }

  .navButton .btn{
    opacity: 0.7;
    border: none;
  }

  .navButton .btn:hover{
    opacity: 1;
  }

  .nav-btn-icon{
    width: 40px;
    height: 40px;
  }

  .nav-user-menu{
    z-index: 1000;
    padding: 24px 0;
    right: 1%;
    width: 230px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    position: absolute;
    top: 80%;
    border-radius: 30px;
    background: #ffeee2;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
  }

  .nav-user-header{
    text-align: center;
    margin-bottom: 1rem;
  }

  .nav-user-header i{
    font-style: normal;
    font-weight: bold;
  }

  .nav-user-menu a{
    color: #707070;
    font-weight: 400;
    border-bottom:1px solid rgba(164, 163, 181, 0.25);
    width: 100%;
  }

  .nav-user-menu a:hover{
    background-color: rgba(13,12,34,0.03);
    color: #0d0c22;
    cursor: pointer;
  }

  .nav-user-item{
    border: 2px solid rgba(164, 163, 181, 0.25);
    width: 100%;
  }

  .nav-user-menu button{
    border: none;
    text-align: center;
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: #707070;
    font-weight: 400;
    width: 100%;
    padding: .5rem;
  }

  .nav-user-menu button:hover{
    background-color:#5A4542;
    color: white;
    cursor: pointer;
  }