 .Logo{
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #5A4542;
    text-align:start;
    margin-top: 30px;
    margin-left: 30px;
  }

  .container-fluid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right:.35rem;
  }

  .navButton{
    padding:0;
    justify-content: center;
    text-align: center;
    margin-right: 2rem;
  }

  .btn-Container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .btn-Container i{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.5px;
    color: #382212;  
    margin-top: 4px;
  }

  .navButton .btn{
    opacity: 0.7;
    border: none;
  }

  .navButton .btn:hover{
    opacity: 1;
  }

  .nav-btn-icon{
    width: 40px;
    height: 40px;
  }