.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
}

.fc{
    width: 600px;
    padding-bottom: 1rem;
}

.fc .fc-toolbar.fc-header-toolbar{
    padding: 1rem;
}

.fc .fc-button-primary{
    background-color: #5A4542;
}

.fc .fc-button-primary:disabled{
    background-color: #5A4542;
}

.fc .fc-toolbar-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
}

.fc .fc-col-header-cell-cushion {
    color: #5A4542;
}
.fc-timegrid-event .fc-event-main{
    text-align: center;
    font-weight: 300;
}

.fc-timegrid-event .fc-event-time{
    display: flex;
    overflow: hidden;
    white-space: initial;
}

.fc-v-event .fc-event-main-frame{
    box-shadow: none;
    display:flex;
    flex-shrink: 1;
}

.calendar{
    font-family: 'Inter';
    color: #5A4542;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 600px;
}

.calendar h5{
    color: #707070;
    margin: 0px;
}

.buttons{
    text-align: center;
    margin-top:2rem;
    padding: 1rem;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 300px;
}

.buttons h5{
    color: #707070;
    margin: 0px;
}

.button-area {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button-area input{
    margin-top: .5rem;
    padding: 5px 10px;
    color: #5A4542;
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: white;
    height: 36px;
}

.button-area input:hover{
    border-color: #ccc;
}

.button-area input:focus{
    outline: none;
    border-color: #5A4542;
    background: #fff;
}


.button-area .btn-add{
    color: #5A4542;
    appearance: button;
    background-image: linear-gradient(to bottom, #fff, #f8eedb);
    border: 0 solid #e5e7eb;
    border-radius: .5rem;
    cursor: pointer;
    font-weight: 700;
    line-height: 12px;
    margin-top: 1rem;
    outline: 2px solid transparent;
    padding: 1rem 1.5rem;
    text-align: center;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: -6px 8px 10px rgba(81,41,10,0.1),0px 2px 2px rgba(81,41,10,0.2);
}

.button-area .btn-add:active {
    background-color: #f3f4f6;
    box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,10,0.15);
    transform: translateY(0.125rem);
  }
  
.button-area .btn-add:focus {
    box-shadow: rgba(72, 35, 7, .46) 0 0 0 4px, -6px 8px 10px rgba(81,41,10,0.1), 0px 2px 2px rgba(81,41,10,0.2);
  }